@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    .my-masonry-grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: -20px;
        width: auto;
    }
    
    .my-masonry-grid_column {
        padding-left: 20px;
        background-clip: padding-box;
    }
    
    .my-masonry-grid_column > div {
        margin-bottom: 20px;
    }

    ::-webkit-scrollbar {
        display: none;
    };

}